.worktrees/
__pycache__/
*.py[cod]
build/
backups/
.coverage
.superpowers/
.cache/
.venv/
venv/
dist/
*.egg-info/
*.efi
*.crt
*.cer
*.key
*.pem
*.p12
*.pfx
*.auth
*.esl
*.vars
*.fd
qemu-*/
*.ppm
*.log
.idea/
.vscode/
